@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  border: 2px transparent #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  background-clip: padding-box;
  border-radius: 10px;
  border: 2px solid transparent;
}

::-webkit-scrollbar-button:vertical:start:decrement {
  display: block;
  height: 0.5rem;
}

::-webkit-scrollbar-button:vertical:end:decrement {
  display: block;
  height: 0.5rem;
}

.a11y-hidden {
  margin: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
}
